td a{
    text-decoration: none;
    color: black;
}
body{
    background-image: url(/pw2023_223040147/tubes/img/pexels-roberto-nickson-2478248.jpg);
 }
.navbar{
    color: #1a1e21;
}
.container{
    color: #1a1e21;
}